<div class="row">
  <div class="col-md-9">
    <rd-widget>
      <rd-widget-header icon="fa-file-text-o" title="{{ userData.name }}: Corpus list">
        <input type="text" placeholder="Search" class="form-control input-sm" />
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Modify date</th>
<!--
                <th>Geo-parsed</th>
-->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="corpus in corpora">
                <td><a href="corpus/{{corpus._id}}">{{ corpus._id }}</a></td>
                <td><a href="corpus/{{corpus._id}}">{{ corpus.properties.name }}</a></td>
                <td>{{ corpus.properties.modifyDate }}</td>
<!--
                <td>
                  <div ng-if="isParsed(doc)">
                    <span class="text-success"><i class="fa fa-check"></i></span>
                  </div>
                  <div ng-if="!isParsed(doc)">
                    <span class="text-danger"><i class="fa fa-warning"></i></span>
                  </div>
                </td>
-->
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>

  <div class="col-md-3">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <br />
        <div class="title">6</div>
        <div class="comment">Collections</div>
      </rd-widget-body>
    </rd-widget>
    <br />
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-support"></i>
        </div>
        <br />
        <div class="title">12</div>
        <div class="comment">Containing Documents</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
