<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-file-text-o" title="{{ doc.properties.name }}">
        <input type="text" placeholder="Search" class="form-control input-sm" />
      </rd-widget-header>
      <rd-widget-body>
        <div bind-html-compile="doc.markedUpText">
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-globe" title="Map">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <leaflet width="100%" height="250px"></leaflet>
      </rd-widget-body>
<!--
      <rd-widget-header icon="fa-globe" title="Map">
        <input type="text" placeholder="Search" class="form-control input-sm" />
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
              <tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
              <tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
-->
    </rd-widget>
<!-- test widget place-reference -->
    <rd-widget>
      <rd-widget-body classes="small no-padding">
        <place-reference id="1001">place reference example</place-reference> 
      </rd-widget-body>
    </rd-widget>
<!-- -->
    <rd-widget>
      <rd-widget-header icon="fa-file-text" title="Metadata">
        <input type="text" placeholder="Search" class="form-control input-sm" />
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div>
          <pre>{{ prettyPrintParsingResults(doc) }}</pre>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

