<leaflet id="docMap" width="100%" height="250px" style="top:-15px"></leaflet>

<div class="row">
  <div class="col-md-2">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title"></div>
        <div class="comment">Al Shabaab</div>
      </rd-widget-body>
    </rd-widget>
    <br />
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-support"></i>
        </div>
        <div class="title"></div>
        <div class="comment">Somalia</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-md-8" style="top:-30px">
    <rd-widget>
      <rd-widget-header icon="fa-file-text-o" title="{{ corpus.properties.name }} : {{ doc.properties.name }}">
        <input type="text" placeholder="Search" class="form-control input-sm" />
      </rd-widget-header>
      <rd-widget-body>
        <div bind-html-compile="prettyHTMLFormat(doc.markedUpText)">
        <!-- <div bind-html-compile="doc.markedUpText"> -->
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-md-2">
    <rd-widget>
      <rd-widget-header icon="fa-file-text" title="Metadata">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div>
          <pre>{{ prettyPrintParsingResults(doc) }}</pre>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

